* {
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background: #4568DC;
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
    background: linear-gradient(to right, #B06AB3, #4568DC);

}

/*---------------------miscellaneous---------------------*/